.wrapper {
    position: relative;
}

.banner {
    position: relative;
    width: 100%;
    height: 191px;
    margin-top: 1rem;
    overflow: hidden;
    border-radius: 10px;

    .banner_overlay {
        position: absolute;
        top: 0;
        right: -35%;
        width: 59%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.8);
        transform: skewX(-20deg) translateX(-30%);
    }

    .banner_content {
        position: absolute;
        top: 50%;
        left: 56%;
        transform: translate(-50%, -50%);
        width: 80%;
        max-width: 800px;
        margin: 0 auto;
        text-align: end;

        h1 {
            font-weight: 900;
            color: #000000;
        }
    }
}

.brand_logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    background: #ffffff;
    padding: 0.7rem;
    border-radius: 10px;
    margin-left: 15px;
    z-index: 2;
    bottom: -60px;

    .logo_1 {
        margin-right: 0.8rem;
        margin-left: 0.8rem;
    }

    .logo_2 {
        margin-right: 0.8rem;
        margin-left: 0.8rem;
    }
}

@media (min-width: 1024px) {
    .desktop {
        display: block;
    }
    .medium,
    .mobile {
        display: none;
    }

    .banner_content {
        h1 {
            font-size: 40px;
        }
    }
}

// Show medium banner image for screens between 768px and 1023px wide
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .banner {
        height: 145px;
        border-radius: 8px;

        .medium {
            display: block;
        }
        .desktop,
        .mobile {
            display: none;
        }

        .banner_content {
            h1 {
                font-size: 29px;
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    .banner {
        height: 110px;
        border-radius: 5px;

        .mobile {
            display: block;
        }

        .desktop,
        .medium {
            display: none;
        }

        .banner_content {
            h1 {
                font-size: 16px;
            }
        }
    }
}
