.project_tabs {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
    font-weight: 700;
    font-style: normal;
    line-height: 20px;

    .tab {
        width: 100%;
    }
}

@media (max-width: 45em) {
    .project_tabs {
        .desktop {
            display: none;
        }
    }
}
